html,
body {
  height: 100%;
  margin: 0;
}

.main_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #1e1f21;
  box-sizing: border-box;
  width: calc(100% - 100px);
  min-height: calc(100vh - 150px);
  padding-top: 100px;
  margin-left: 100px;
  overflow: auto;
}

.board1 {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 80%;
  margin-top: 30px;
  position: relative;
}

.box1 {
  margin-top: 20px;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
}

.box2, .box3 {
  margin-top: 20px;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
}

.board_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.board2, .board3 {
  flex: 1;
  box-sizing: border-box;
}

.board2 {
  margin-right: 20px;
}

.box1, .box2, .box3 {
  background-color: #111111;
  border-radius: 10px;
  border: 2px solid #111111;
}

.board1 h2, .board2 h3, .board3 h3 {
  margin: 0;
  color: white;
}

.board1 .box1 {
  padding: 10px;
  background-color: #111111;
  border-radius: 10px;
  color: white;
  max-width: 100%;
  line-height: 1.2;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    cursor: pointer;
}

.box1 div {
  font-size: 20px;
  border-bottom: 2px solid #373737;
}

.board1 .box1 div:last-child {
  border-bottom: none;
}

.board1 .box1 div {
  padding: 7px 0; /* 위아래에 10px의 패딩 추가 */
  border-bottom: 1px solid #333; /* 항목 간 경계선 */
}

.board2 .box2 {
  padding: 10px;
  background-color: #111111;
  border-radius: 10px;
  color: white;
  max-width: 100%;
  line-height: 1.2;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    cursor: pointer;
}

.box2 div {
  font-size: 20px;
  border-bottom: 2px solid #373737;
}

.board2 .box2 div:last-child {
  border-bottom: none;
}

.board2 .box2 div {
  padding: 7px 0; /* 위아래에 10px의 패딩 추가 */
  border-bottom: 1px solid #333; /* 항목 간 경계선 */
}


.board3 .box3 {
  padding: 10px;
  background-color: #111111;
  border-radius: 10px;
  color: white;
  max-width: 100%;
  line-height: 1.2;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    cursor: pointer;
}

.box3 div {
  font-size: 20px;
  border-bottom: 2px solid #373737;
}

.board3 .box3 div:last-child {
  border-bottom: none;
}

.board3 .box3 div {
  padding: 7px 0; /* 위아래에 10px의 패딩 추가 */
  border-bottom: 1px solid #333; /* 항목 간 경계선 */
}





